.mainContainer {
  border: 2px solid green;
  background-color: rgba(0, 128, 0, 0.308);
  padding: 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  position: absolute;
  z-index: 1;
  top: 70px;
}
