.mainContainer {
  /* border: 2px solid green; */
  background-color: rgba(0, 128, 0, 0.103);
  padding: 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  position: static;
  z-index: 1;
  padding-top: 70px;
}
